.movie-li {
    display: block;
    float: left;
    width: 194px;
    height: 350px;
    margin: 14px;
    position: relative;
    border: 1px solid lightgray;
    border-radius: 12px;
}

.button-wrapper {
    text-align: center;
}

.movie-year, .movie-genre {
    display: block;
}

.poster-image {
    width: 140px;
    height: 100%;
}

.no-image {
    display: inline-block;
    text-align: center;
    line-height: 200px;
}

.movie-name {
    padding: 0 4px 0 4px;
}